.footer
  background-color: #484848
  color: white
  padding: 15px
  
  a
    &:link, &:visited, &:hover, &:active
      color: white
      
.footer, .push
  height: 8em
      
*
  margin: 0
  
.wrapper
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -8em
      
html
  height: 100%
    
body
  height: 100%
  background-color: white
