# Silex directories
vendor/*
*/logs/*
*/cache/*

# Composer
composer.lock
components/*

# Bower
public_html/vendor/*

# Zed
.zedstate

# Propel
app/propel/generated-classes/*
app/propel/generated-sql/*
app/propel/generated-conf/*

# Cache
app/assets/cache/*