# Silex directories
vendor/*
*/logs/*
*/cache/*

# Composer
composer.lock
components/*

# Zed
.zedstate

# Propel
app/propel/generated-classes/*
app/propel/generated-sql/*
app/propel/generated-conf/*

# Keys
**/key.ini

# Cache
app/assets/cache/*