<?xml version="1.0" encoding="UTF-8"?>
<routes>
  <route name="home" route="/" template="home.haml"/>
  <route name="sponsors" route="/sponsors/" template="sponsors.haml"/>  
  <route name="cars" route="/cars/" template="cars.haml"/>
  <route name="marketing" route="/marketing/" template="marketing.haml"/>
  <route name="user" route="/user/" template="user.haml" access="10"/>
  <route route="/assets/{type}/{name}" controller="assets">
    <assert name=".*"/>
  </route>
</routes>