footer {
	background-color: #484848;
	color: white;
	padding: 15px;
}

footer a:link {
	color: white;
}

footer a:visited {
	color: white;
}

footer a:hover {
	color: white;
}

footer a:active {
	color: white;
}

html {
	background-color: #484848;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body {
	background-color: white;
}

.cars-image {
  padding: 15px;
}