- extends 'base.haml'
- block title 'REV - Blog'
- block css
  = asset('blog.sass')
  
- block content
  .row
    .col-xs-10.col-xs-offset-2.blog-posts
      - for blog_post in blog_posts
        %section 
          %h1= blog_post.title
          %p.small= blog_post.author
          = blog_post.body | markdown