{% macro car(name, source, description) %}
{% import "base.html" as base %}
<section id="{{ name }}">
	<div class="container">
		<center><h1> {{ name }} </h1></center>
		<div class="row">
			<center><img src="/assets/images/cars/{{ source }}" id="car-image-{{ name }}"></center>
		</div>
		<div class="row">
			<p><center>
				{{ description }}
			</center></p>
		</div>
	</div>
</section>
<hr>
{% endmacro %}

{% import _self as cars %}

{% extends "base.html" %}
{% block title %}REV - Cars{% endblock %}

{% block nav_buttons %}
	<li class="active"><a href="#Tachyon">Tachyon</a></li>
	<li><a href="#TESTA">TESTA</a></li>
	<li><a href="#Photon">Photon</a></li>
{% endblock %}

{% block content %}

{{ cars.car("Tachyon", "tachyon.jpg", 
        "Our most recent car is Tachyon, and it by far our largetst project yet. It competes in a different category at the 
        Shell Eco-Marathon than the other two cars, the Urban Concept category. Tachyon runs a 48 VDC system, with two 
        brushless motors. It runs on an Arduino Galileo with custom code, and a custom-designed motor controller.") }}

{{ cars.car("TESTA", "testa.png",
        "TESTA was REVs second car. There were two TESTA iterations. The first was a partially solar-powered
        vehicle, and the second focuses mainly on efficancy. Both ran on a 36 VDC system with one brushless motor.
        Both had a custom aluminum chassis and fiberglass body. TESTA 1 placed 3rd in Solar Category at the 2012 Shell
        Eco-Marathon, while TESTA 2 placed 12th at the 2013 Shell Eco-Marathon.") }}

{{ cars.car("Photon", "photon.png",
		"Photon was REVs first car. It ran on a 36 VDC system, with a brushless motor and controller. The
		body and chassis were altered from the Electrathon kit. It placed 18th in Battery Electric
		Charge category at the 2013 Shell Eco-Marathon, with a usage of 62.88 miles per kilowatt-hour.") }}

{% endblock %}