- extends 'base.haml'

- block title "REV - Cars"

- block css
  = asset('cars.sass')
  
- block nav_buttons
  %li <a href="#tachyon">Tachyon</a>
  %li <a href="#testa">TESTA</a>
  %li <a href="#photon">Photon</a>
  
-block content
  %br 
  %section#tachyon
    .container
      %center 
        %h1 Tachyon
        .row.cars-image <img src="/images/cars/tachyon.jpg">
        .row
          %p
            Our most recent car is Tachyon, and it by far our largest project 
            yet. It competes in a different category at the Shell Eco-Marathon 
            than the other two cars, the Urban Concept category. Tachyon runs a 
            48 VDC system, with two brushless motors. It runs on an Arduino 
            Galileo with custom code, and a custom-designed motor controller.
            
  %section#testa
    .container
      %center 
        %h1 TESTA
        .row.cars-image <img src="/images/cars/testa.png">
        .row
          %p
            TESTA was REVs second car. There were two TESTA iterations. The 
            first was a partially solar-powered vehicle, and the second focuses
            mainly on efficancy. Both ran on a 36 VDC system with one brushless 
            motor. Both had a custom aluminum chassis and fiberglass body. 
            TESTA 1 placed 3rd in Solar Category at the 2012 Shell
            Eco-Marathon, while TESTA 2 placed 12th at the 2013 
            Shell Eco-Marathon.  
            
  %section#photon
    .container
      %center 
        %h1 Photon
        .row.cars-image <img src="/images/cars/photon.png">
        .row
          %p
            Photon was REVs first car. It ran on a 36 VDC system, with a 
            brushless motor and controller. The body and chassis were altered 
            from the Electrathon kit. It placed 18th in Battery Electric
            Charge category at the 2013 Shell Eco-Marathon, with a usage of 
            62.88 miles per kilowatt-hour.