{% macro slideshow(name, pictures) %}
  <div id="{{ name }}" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {% for picture in pictures %}
        {% if loop.first %}
          <li data-target="#{{ name }}" data-slide-to="0" class="active"></li>
        {% else %}
          <li data-target="#{{ name }}" data-slide-to="{{ loop.index0 }}"></li>
        {% endif %}
      {% endfor %}
    </ol>
    <div class="carousel-inner">
      {% for picture in pictures %}
        {% if loop.first %}
          <div class="item active">
        {% else %}
          <div class="item">
        {% endif %}
        <center>
          <img src="/images/slideshow/{{ picture }}" alt="Slide" height="654">
        </center>
        <div class="container">
          <div class="carousel-caption">
          </div>
        </div>
        </div>
      {% endfor %}
    </div>
    <a class="left carousel-control" href="#{{ name }}" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#{{ name }}" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
{% endmacro %}

{% import _self as home %}

{% extends "base.html" %}
{% block title %}REV - Home{% endblock %}

{% block nav_buttons %}
          <li><a href="#pictures">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#team">Our Team</a></li>
          <li><a href="#marketing">Marketing</a></li>
          <li><a href="#join">Join!</a></li>
{% endblock %}

{% block content %}    
    {% if not mobile %}
    {{ home.slideshow("pictures", ["team_picture.jpg", "jamie.jpg", "tachyon_face.jpg", "photon1.jpg", "photon2.jpg", "team_picture2.jpg"]) }}
    {% endif %}

    <section id="about">
      <div class="container">
        <center>
          <h1>
            Rensselaer Electric Vehicle
          </h1>
          <hr>
          <p class="lead">
            We design and build electric cars from the ground up
          </p>
          <p>
          <font size="3">
          Rensselaer Electric Vehicle (REV) is a student organization for the design of electric vehicles at Rensselaer Polytechnic Institute.
          The team, formerly known as the RPI Solar Car Racing Team, has competed in the Shell Eco-marathon since 2011.
          We have built three cars since we were founded, and in 2014 we hope to compete in a new category, Urban Concept.
          </font>
          </p>
        </center>
      </div>
    </section>
    
    <section id="team">
      <div class="container">
        <center>
          <h1>
            Our Team
          </h1>
          <hr>
          <p class="lead">
            Our two departments collaborate to create the best possible product
          </p>
          <div class="col-sm-6">
            <p><font size="3">
            <b>The mechanical team</b> designs the body, chassis, and mechanical systems of our car.
            They use software such as Solidworks to aid with design, and to vusialize the final project.
            A lot a machining is done in-house, using RPI's machine shops.
            </font></p>
          </div>
          <div class="col-sm-6">
            <p><font size="3">
            <b>The electrical team</b> creates systems to control the car. They use control hardware such as Arduinos and Rasperry Pi's.
            Software development in done with C, Python, and bash scripts. They use KiCAD for schematic and PCB design.
            </font></p>
          </div>
        </center>
      </div>
    </section>
    
    <section id="marketing">
      <div class="container">
        <center>
          <h1>
            REV Marketing
          </h1>
          <hr>
          <p class="lead">
            Much more than just a car
          </p>
          <p><font size="3">
          REV is a very diverse team that accepts and appreciates all backgrounds. 
          Not only do we give our member’s an opportunity to explore engineering, we give them the opportunity to run the business side of our team
          </font></p>
          <a type="button" class="btn btn-default" href="/marketing">Marketing Site</a>
        </center>
      </div>
    </section>
    
      <section id="join">
        <div class="container">
          <center>
            <h1>
              Join Us!
            </h1>
            <hr>
            <p class="lead">
              We try to provide a welcoming and open environment
            </p><font size="3">
            Our club has a strong focus on older members working with new members, and helping incoming students along.
            We provide opportunities for new students to get hands-on experiance quickly, as well as teach them basic design principles and practices.
            We meet in Ricketts 101 Tuesdays and Wednesdays from 6-8 and Saturdays from 12-3.
            </font></p>
          </center>
        </div>
      </section>
    </div>
{% endblock %}