- extends "base.haml"
- block title "REV - Marketing"
- block content
  .jumbotron
    .container
      %h1 REV Marketing
      %p 
        REV is a very diverse team that accepts and appreciates all backgrounds. 
        Not only do we give our member’s an opportunity to explore engineering, 
        we give them the opportunity to run the business side of our team.
      %p 
        %a.btn.btn-primary.btn-lg(role="button" href="mailto:REV@union.rpi.edu")
          Contact Us! &raquo;
        
  .container
    .row
      .col-md-4
        %h2 MAPS
        %p
          Marketing, Advertising, Publicity Services (MAPS) is the team in 
          charge of all of REV’s business demands. MAPS is the part of REV that 
          lets the world know who we are, what we do, and why we are important. 
          MAPS also provides the opportunities for REV members to get involved 
          in promotional events for the school and club, as well as 
          opportunities to get to know each other in team bonding events! 
          Whether its developing eye catching brochures, making professional 
          business cards, or expanding our website, MAPS ensures the world sees 
          what REV does best, both inside and outside of the club.
          
      .col-md-4
        %h2 Fundraising
        %p 
          Fundraising is the team that keeps the blood in REV’s veins flowing 
          and alive. Fundraising keeps our sponsors up to date on how the team 
          is progressing, and how their money is being spent to aid our team. 
          Fundraising makes sure the generous support from companies that make 
          REV as it is today possible, are fully appreciated in wake for their 
          donation and support of student run clubs like ours. To our sponsors 
          we say: Thank you! 
          
      .col-md-4
        %h2 FAST
        %p
          Finance Administration Support Team; FAST is dedicated to improving 
          your experience in REV! Members of FAST strive to reflect a 
          professional, working environment, dedicated to improving internal, 
          and external infrastructure within REV. This includes but is not 
          limited to organizing finance, cataloging inventory, centralizing 
          communication, and much much more.